<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/index.js"></script>
<link rel="stylesheet" href="~/css/styles.css" />
<div>
    <h1> ПРИБЫВАЛКА  </h1>
    <br />
    <h2>Выберите остановку: </h2>
    <table>
        <tr>
            <td>
                <div id="viewInput">
                    <input id="inputStop" name="inputStop" list="stops" />
                </div>
            </td>
            <td>
                <button id="selectStop" type="button">Выбрать</button>
            </td>
            <td>
                <button id="addToFavorite" type="button" class="favStarButton"><img class="favStarIcon" src="~/images/star-icon.png" /></button>
            </td>
            <td>
                <button id="changeBetweenAllAndFav" type="button">Показать избранные</button>
            </td>
        </tr>
    </table>
    <datalist id="stops"></datalist>
    <div id="listTransport">
    </div>
</div>
