<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/index.js"></script>
<link rel="stylesheet" href="~/css/styles.css" />
<div>
    <h1 class="zero-text"> ПРИБЫВАЛКА  </h1>
    <br />
    <div id="myForm" class="myForm">
        <input id="inputStop" placeholder="Выберите остановку" class="input-stop border-radiused other-text" name="inputStop" list="stops" />
        <div class="buttons">
            <button id="selectStop" class="select-button border-radiused other-text" type="button">Выбрать</button>
            <input type="image" src="~/images/star-icon.png" id="addToFavorite" type="button" class="icon-button border-radiused other-text" />
            <input type="image" src="~/images/star-icon2.png" id="deleteFromFavorite" type="button" class="icon-button border-radiused other-text" />
            <button id="changeBetweenAllAndFav" class="border-radiused select-button other-text" type="button">Показать избранные</button>
        </div>
    </div>
    <div class="mySubForm">
        <input type="image" src="~/images/refresh-icon.png" id="refresh" type="button" class="icon-button border-radiused refresh-button" onclick="getSchedule(true)" />
    </div>
    <datalist id="stops"></datalist>
    <div id="listTransport">
    </div>
</div>
