<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/index.js"></script>
<div>
    <h1> ПРИБЫВАЛКА  </h1>
    <br />
    <h2>Выберите остановку: </h2>
    <input id="inputStop" name="inputStop" list="stops" />
    <datalist id="stops"></datalist>
    <button id="selectStop" type="button">Выбрать</button>
    <div id="listTransport">
    </div>
</div>
