<div id="mainDiv">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Route.js"></script>
    <h1 id="routeName"></h1>
    <h1 id="endStartRoute"></h1>
    <div id="stopsList" style="overflow-y: scroll; height: 500px;">
    </div>
</div>
